body{
    background-color: #E5E8E8;

}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 75px;
}

  form{
    padding-left: 20px;
  }